.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  touch-action: pan-y;
}

.embla__container {
  display: flex;
  flex-direction: row;
  will-change: transform;
}

.embla__slide {
  flex: 0 0 75%;
}
