@use "../setup/vars.module.scss" as vars;

.dish-card--desktop {
  width: 380px;
  height: 654px;

  .image {
    width: 380px;
    height: 306px;
    object-fit: cover;
    display: block;
  }

  .data {
    width: 380px;
    height: 348px;
    background-color: vars.$color-white-smoke-secondary;
    padding-top: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap !important;

    .textBox {
      width: 295px;
      gap: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .name {
      width: 100%;
      text-align: center;
      white-space: pre-line;
      font-family: vars.$font-family;
      font-weight: vars.$h3-desktop-font-weight;
      font-size: vars.$h3-desktop-font-size;
      line-height: vars.$h3-desktop-line-height;
      letter-spacing: vars.$h3-desktop-letter-spacing;
      color: vars.$color-black-primary;
    }

    .ingredients {
      width: 295px;
      height: 123px;

      font-family: vars.$font-family;
      font-weight: vars.$body-desktop-font-weight;
      font-size: vars.$body-desktop-font-size;
      line-height: vars.$body-desktop-line-height;
      letter-spacing: vars.$body-desktop-letter-spacing;

      text-align: center;
      color: vars.$color-black-primary;
    }

    .icon {
    width: 40px;
    height: 31px;
    }

    .priceWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 8px;

      .line {
        flex: 1;
        height: 0.5px;
        max-width: 112px;
        background-color: vars.$color-cool-gray-primary;
      }

      .priceBox {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .ilsIcon {
        width: 14px;
        height: 19px;
      }

      .priceText {
        font-family: vars.$font-family;
        font-weight: 200; // from Figma
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1.97px;
        color: vars.$color-black-primary;
      }
    }
  }
}

.dish-card--mobile {
  width: vars.$card-width-mobile;

  .image {
    width: vars.$card-width-mobile;
    height: 152px;
    object-fit: cover;
    display: block;
  }

  .data {
    width: vars.$card-width-mobile;
    height: 236px;
    background-color: vars.$color-white-smoke-secondary;
    padding-top: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    
  }

  .textBox {
    width: 209px;
    height: 129px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    
  }

  .name {
    width: 209px;
    height: 21px;

    font-family: vars.$font-family;
    font-weight: vars.$h3-mobile-font-weight;
    font-size: vars.$h3-mobile-font-size;
    line-height: vars.$h3-mobile-line-height;
    letter-spacing: vars.$h3-mobile-letter-spacing;
    color: vars.$color-black-primary;

    margin-bottom: 4px;
  }

  .ingredients {
    width: 209px;
    height: 100px;

    font-family: vars.$font-family;
    font-weight: vars.$body-mobile-font-weight;
    font-size: vars.$body-mobile-font-size;
    line-height: vars.$body-mobile-line-height;
    letter-spacing: vars.$body-mobile-letter-spacing;
    color: vars.$color-black-primary;

    //margin-bottom: 8px;
    margin-top: 5px;
  }

  .icon {
    width: 30px;
    height: 24px;
    margin-top: 35px;
  }

  .priceWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 16px;
  margin-top: 55px;

  .ilsIcon {
    width: 8.26px;
    height: 7.67px;
    margin-top: 3px;
  }

  .priceText {
    width: 20px;
    height: 19px;

    font-family: vars.$font-family;
    font-weight: vars.$h3-mobile-font-weight;
    font-size: vars.$body-mobile-font-size;
    line-height: vars.$body-mobile-line-height;
    letter-spacing: vars.$body-mobile-letter-spacing;
    color: vars.$color-black-primary;
  }
}

}
