@use "../setup/vars.module.scss" as vars;

.header-icons--desktop {
  width: 96px;
  gap: 24px;
  margin-right: 127px;
  display: flex;
  justify-content: space-between;
  
  .header-icon--desktop {
    width: 24px;
    height: 24px;
  }
}
