@use "../setup/vars.module.scss" as vars;

.header-icons--desktop {
  width: 96px;
  gap: 24px;
  margin-right: 127px;
  display: flex;
  justify-content: space-between;
  
  .header-icon--desktop {
    width: 24px;
    height: 24px;
  }
}

.header-icons--mobile {
  width: 100px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 51.07px;
  margin-right: 20px;

  .header-icon--mobile {
    width: 20px;
    height: 20px;
  }
}