@use "../setup/vars.module.scss" as vars;

.iconList--desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 127px;

  .icons {
    gap: 40px;
    display: flex;

    .iconBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .label {
        font-size: vars.$body-desktop-font-size;
        font-weight: vars.$body-desktop-font-weight;
        line-height: vars.$body-desktop-line-height;
        letter-spacing: vars.$body-desktop-letter-spacing;
        color: vars.$color-black-primary;
        margin-top: 8px;
      }
    }
  }
}

.iconList--mobile{
    
}
