@use "../setup/vars.module.scss" as vars;

.restaurant-list--desktop {
  width: 1185px;
  height: 480px;
  gap: 40px;
  display: flex;
  justify-content: space-between;
}


.restaurant-list--mobile{
  max-height: 232.8px;
  width: 100%;
  gap: 24px;

}