@use "../setup/vars.module.scss" as vars;

.restaurant-card--desktop {
  width: vars.$card-width-desktop;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
    height: 236px;
    object-fit: cover;
  }

  .data {
    width: 100%;
    height: 169px;
    background-color: vars.$color-white-smoke-secondary;
    color: vars.$color-black-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vars.$element-gap;

    .textBox {
      width: 146px;
      height: 85px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: vars.$element-gap;
      gap: vars.$element-gap;

      .name {
        width: 100%;
        height: 47px;
        margin: 0;
        font-family: vars.$font-family;
        font-weight: vars.$h3-desktop-font-weight;
        font-size: vars.$h3-desktop-font-size;
        line-height: vars.$h3-desktop-line-height;
        letter-spacing: vars.$h3-desktop-letter-spacing;
        text-wrap: nowrap;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      .chef {
        width: 146px;
        height: 30px;
        gap: vars.$section-spacing;
        margin: 0;
        padding: 0;
        font-family: vars.$font-family;
        font-weight: vars.$body-desktop-font-weight;
        font-size: vars.$body-desktop-font-size;
        line-height: vars.$body-desktop-line-height;
        letter-spacing: vars.$body-desktop-letter-spacing;
        text-wrap: nowrap !important;
      }
    }

    .ratingBox {
      width: 216px;
      height: 40px;
      border: 1px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4px;

      .star {
        width: 40px;
        height: 40px;
        font-size: 32px;
        line-height: 40px;
      }

      .filled {
        color: vars.$color-star-rate-fill;
      }

      .empty {
        color: transparent;
        -webkit-text-stroke: 1px vars.$color-star-rate-fill;
      }
    }
  }
}

.restaurant-card--mobile {
  width: vars.$card-width-mobile;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
    height: 151.8px;
    object-fit: cover;
  }

  .data {
    width: 100%;
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: vars.$color-white-smoke-secondary;

    .textBox {
      width: 104px;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      gap: vars.$element-gap;

      .name {
        font-family: vars.$font-family;
        font-weight: vars.$h3-mobile-font-weight;
        font-size: vars.$h3-mobile-font-size;
        line-height: 100%;
        letter-spacing: 2.67px;
        color: vars.$color-black-primary;
        margin: 0;
      }

      .chef {
        text-wrap: nowrap;
        font-family: vars.$font-family;
        font-weight: vars.$body-mobile-font-weight;
        font-size: vars.$body-mobile-font-size;
        line-height: 20px;
        letter-spacing: 1.97px;
        color: vars.$color-black-primary;
        margin: 0;
      }
    }

    .ratingBox {
      display: none;
    }
  }
}
